.header {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
    height: 500px;
}



.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top h1 {
  text-align: end;
  padding-left: 3%;
}
nav {
  margin-top: 5%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3%;
  /* width: 33%; */
  gap: 20px;
}

.flex div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.header nav ul li {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}
.children {
  display: flex;
  flex-wrap: wrap;
}

.header nav ul li div {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 0.3s;
}

.header nav ul li:hover div {
  color: #c79a6e;
}
.header nav ul li div.highlighted {
  color: #c79a6e;
  transition: color 0.3s;
}

.header nav ul li:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px; /* Adjust the position of the underline */
  width: 50%; /* Adjust the width of the underline */
  height: 2px; /* Adjust the height of the underline */
  background-color: #c79a6e; /* Adjust the underline color */
  transition: width 0.3s;
}

.header nav ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px; /* Adjust the position of the underline */
  width: 0;
  height: 2px; /* Adjust the height of the underline */
  background-color: #c79a6e; /* Adjust the underline color */
  transition: width 0.3s;
}

.header h1 {
  margin-top: 20px;
  font-size: 2.5em;
}

.header p {
  margin-top: 8%;
  font-size: 1.5em;
}

.header button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 1%;
}
